@tailwind base;
@tailwind components;
@tailwind utilities;


.tgl {
    display: none;
}

.tgl-style + .tgl-btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 60px;
    height: 30px;
    background: #ddd;
    border-radius: 15px;
    transition: background 0.3s ease;
}

.tgl-style:checked + .tgl-btn {
    background: #4caf50;
}

.tgl-btn::before {
    content: attr(data-tg-off);
    color: white;
    position: absolute;
    left: 10px;
    top: 5px;
}

.tgl-style:checked + .tgl-btn::before {
    content: attr(data-tg-on);
    right: 10px;
    left: unset;
}
