.navbar {
    @apply flex-row flex text-custom-baslik justify-center items-center gap-32 font-semibold p-5 top-0 sticky top-0 m-10 z-50 ml-auto mr-auto w-max px-16 py-5 transition-all ease-in-out duration-100 rounded-full border-0 border-white border-opacity-40 bg-opacity-50 shadow-lg shadow-black/[0.03] backdrop-blur-[0.5rem] bg-white;
}

.link {
    position: relative;
    opacity: 1;
}

.home-link {
    position: relative;
}

.left-angle {
    position: absolute;
    left: -1.8rem;
    opacity: 0;
    top: 0;
    font-size: 1.2rem;
    
}

.right-angle {
    position: absolute;
    top: 0;
    opacity: 0;
    font-size: 1.2rem;
    right: -1.8rem;
    
}

.link:hover .left-angle,
.link:hover .right-angle {
    opacity: 1;
    transform: scale(1.2);
    color: #ffea00;
}



.tgl {
    display: none;
}

.tgl-style + .tgl-btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 60px;
    height: 30px;
    background: #ddd;
    border-radius: 15px;
    transition: background 0.3s ease;
}

.tgl-style:checked + .tgl-btn {
    background: #4caf50;
}

.tgl-btn::before {
    content: attr(data-tg-off);
    color: white;
    position: absolute;
    left: 10px;
    top: 5px;
}

.tgl-style:checked + .tgl-btn::before {
    content: attr(data-tg-on);
    right: 10px;
    left: unset;
}
