.skillsection{
    display:grid;
    align-content:center;
    gap:2rem;
    height:100vh;
    padding:2rem;
    position:relative;
    perspective:1000px;
}
.container {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: transparent;
}

.animbg {
    display:flex;
    height:auto;
    width:auto;
    align-items:center;
    justify-content:center;
    padding:5rem;

}

.myheader {
    position: relative;
    text-align: center; 
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: white;
    
}
