@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000; /*#1C8394 #154B52 #212121 #000B0D #390D02 #A52502*/
        --foreground: #ededed;
    }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
